<!DOCTYPE html>
<html>
    <head>
        <title>じゃんけんアプリ</title>
    </head>
    <body>
        <h1>じゃんけんアプリ</h1>
        <p>コンピュータとじゃんけんをしよう！</p>
        <form method="GET" action="/result">
            <div>
                <img src="/image/janken_gu.png" alt="グー">
                <input type="radio" name="jyanken" value="グー">
                <img src="/image/janken_choki.png" alt="チョキ">
                <input type="radio" name="jyanken" value="チョキ">
                <img src="/image/janken_pa.png" alt="パー">
                <input type="radio" name="jyanken" value="パー">
            </div>
            <input type="submit" value="結果！">
        </form>
    </body>
</html>