<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>じゃんけんアプリ</h1>
        <form method="GET" action="/">
            <input type="submit" value="もどる" />
        </form>
        
        <h2>結果</h2>
        <h1><%= result %></h1>
    </body>
</html>